* {
  font-family: Verdana, Helvetica, sans-serif; }

html {
  font-size: 4vw; }

html, body {
  height: 100%; }

img {
  max-width: 100%; }

body {
  background-color: #E0FBFC;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column; }

main {
  flex: 1 0 auto; }

footer {
  flex-shrink: 0; }

h1 {
  color: #EE6C4D;
  font-size: 2em; }

h3 {
  color: #293241;
  font-size: 1.5em; }

header {
  width: 100%; }
  header nav {
    font-size: 2em;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 85%;
    height: 100%;
    background-color: #3D5A80; }
    @media screen and (min-width: 500px) {
      header nav {
        padding: 1vw;
        font-size: 1em;
        display: block !important;
        position: static;
        background-color: transparent;
        z-index: auto;
        width: auto;
        height: auto; } }
    @media screen and (min-width: 950px) {
      header nav {
        font-size: .75em; } }
    header nav a {
      color: #EE6C4D;
      text-decoration: none;
      margin: 10vw;
      display: block;
      text-align: center; }
      @media screen and (min-width: 500px) {
        header nav a {
          display: inline;
          margin: 1vw; } }
      header nav a:hover {
        text-decoration: underline; }
  header .open-nav {
    display: inline;
    padding: 3vh 2vw;
    background-color: #EE6C4D;
    border: 3px solid #293241;
    border-left-style: none; }
    @media screen and (min-width: 500px) {
      header .open-nav {
        display: none !important; } }
    header .open-nav:hover {
      padding-left: 3.5vw; }
    header .open-nav i {
      color: #293241; }
  header .close-nav {
    display: none;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 85%;
    width: 15%;
    height: 100%;
    color: #EE6C4D;
    background-color: rgba(41, 50, 66, 0.5);
    text-align: center;
    font-size: 2em; }
    @media screen and (min-width: 500px) {
      header .close-nav {
        display: none !important; } }
    header .close-nav i {
      display: inline-block;
      margin: 15vh 0 auto; }
  header .title {
    background-color: #3D5A80;
    padding: 5vh 8vw 8vh;
    text-align: center; }
    @media screen and (min-width: 500px) {
      header .title {
        text-align: left;
        font-size: .75rem;
        padding: 5vh 8vw; } }
    @media screen and (min-width: 1050px) {
      header .title {
        font-size: .5rem; } }
    header .title h1 {
      color: #E0FBFC; }
  header .header-photo-border {
    position: relative;
    top: -38px;
    width: 75px;
    height: 75px;
    margin: auto;
    margin-bottom: -45px; }
    @media screen and (min-width: 375px) {
      header .header-photo-border {
        top: -50px;
        width: 100px;
        height: 100px;
        margin-bottom: -75px; } }
    @media screen and (min-width: 500px) {
      header .header-photo-border {
        margin-bottom: -95px;
        margin-right: 10%; } }
    @media screen and (min-width: 700px) {
      header .header-photo-border {
        width: 150px;
        height: 150px;
        top: -75px;
        margin-bottom: -145px; } }
    header .header-photo-border .header-photo {
      object-fit: cover;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      margin: auto;
      border: 4px solid #EE6C4D;
      box-shadow: 0 0 0 10px #E0FBFC; }
      @media screen and (min-width: 500px) {
        header .header-photo-border .header-photo {
          box-shadow: 0 0 0 12px #E0FBFC; } }

.content-container {
  width: 90%;
  margin: 0 auto; }
  .content-container h3 {
    text-align: center; }

footer {
  margin: 3%;
  display: flex;
  flex-direction: column; }
  footer .social-icons {
    align-self: center;
    padding: 5% 5% 10%; }
    footer .social-icons a {
      color: #E0FBFC;
      background-color: #3D5A80;
      font-size: 1em;
      border-radius: 100%;
      border: min(0.5vw, 3px) solid #EE6C4D;
      padding: 1vw;
      margin: 2vw; }
      footer .social-icons a:hover {
        color: #3D5A80;
        background-color: #E0FBFC; }
  footer .copywrite {
    color: #EE6C4D; }
    @media screen and (min-width: 500px) {
      footer .copywrite {
        font-size: .5rem; } }
    @media screen and (min-width: 1050px) {
      footer .copywrite {
        font-size: .25rem; } }

.home {
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 500px) {
    .home {
      flex-direction: row; } }
  @media screen and (min-width: 500px) {
    .home h3 {
      font-size: 1em;
      padding: 0 4vw;
      margin: auto 0 auto; } }
  .home p {
    font-weight: bold;
    line-height: 2;
    text-align: center; }
    @media screen and (min-width: 500px) {
      .home p {
        text-align: left;
        font-size: .75em; } }
    @media screen and (min-width: 950px) {
      .home p {
        font-size: .50em; } }

@media screen and (min-width: 500px) {
  .about h3 {
    font-size: 1em;
    padding: 0 4vw; } }

.about p {
  text-align: left;
  text-indent: 2em;
  line-height: 2; }
  @media screen and (min-width: 500px) {
    .about p {
      font-size: .75em; } }
  @media screen and (min-width: 950px) {
    .about p {
      font-size: .50em; } }

.projects ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .projects ul li {
    margin-top: 20px; }
    .projects ul li h4 {
      text-align: center; }
      @media screen and (min-width: 500px) {
        .projects ul li h4 {
          font-size: 1em;
          padding: 0 4vw;
          margin: auto 0 auto; } }
    .projects ul li p {
      font-weight: bold;
      text-align: center; }
      @media screen and (min-width: 500px) {
        .projects ul li p {
          text-align: left;
          font-size: .75em; } }
      @media screen and (min-width: 950px) {
        .projects ul li p {
          font-size: .50em; } }

/*# sourceMappingURL=../maps/style.css.map */
