* {
  font-family: Verdana, Helvetica, sans-serif; }

html {
  font-size: 4vw; }

img {
  max-width: 100%; }

small {
  color: #EE6C4D; }
  @media screen and (min-width: 500px) {
    small {
      font-size: .5rem; } }
  @media screen and (min-width: 1050px) {
    small {
      font-size: .25rem; } }

body {
  background-color: #E0FBFC;
  margin: 0;
  width: 100%; }

h1 {
  color: #E0FBFC;
  font-size: 2em; }

header {
  width: 100%; }
  header nav {
    font-size: 2em;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 85%;
    height: 100%;
    background-color: #3D5A80; }
    @media screen and (min-width: 500px) {
      header nav {
        padding: 1vw;
        font-size: 1em;
        display: block;
        position: static;
        background-color: transparent;
        z-index: auto;
        width: auto;
        height: auto; } }
    @media screen and (min-width: 950px) {
      header nav {
        font-size: .75em; } }
    header nav a {
      color: #EE6C4D;
      text-decoration: none;
      margin: 10vw;
      display: block;
      text-align: center; }
      header nav a:hover {
        text-decoration: underline; }
      @media screen and (min-width: 500px) {
        header nav a {
          display: inline;
          margin: 1vw; } }
  header .open-nav {
    display: inline;
    padding: 3vh 2vw;
    background-color: #EE6C4D;
    border: 3px solid #293241;
    border-left-style: none; }
    @media screen and (min-width: 500px) {
      header .open-nav {
        display: none; } }
    header .open-nav:hover {
      padding-left: 3.5vw; }
    header .open-nav i {
      color: #293241; }
  header .close-nav {
    display: none;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 85%;
    width: 15%;
    height: 100%;
    color: #EE6C4D;
    background-color: rgba(41, 50, 66, 0.5);
    text-align: center;
    font-size: 2em; }
    header .close-nav i {
      display: inline-block;
      margin: 15vh 0 auto; }
  header .title {
    background-color: #3D5A80;
    padding: 5vh 8vw 8vh;
    text-align: center; }
    @media screen and (min-width: 500px) {
      header .title {
        text-align: left;
        font-size: .75rem;
        padding: 5vh 8vw; } }
    @media screen and (min-width: 1050px) {
      header .title {
        font-size: .5rem; } }
  header .header-photo-border {
    position: relative;
    top: -38px;
    width: 75px;
    height: 75px;
    margin: auto;
    margin-bottom: -45px; }
    @media screen and (min-width: 375px) {
      header .header-photo-border {
        top: -50px;
        width: 100px;
        height: 100px;
        margin-bottom: -75px; } }
    @media screen and (min-width: 500px) {
      header .header-photo-border {
        margin-bottom: -95px;
        margin-right: 10%; } }
    @media screen and (min-width: 700px) {
      header .header-photo-border {
        width: 150px;
        height: 150px;
        top: -75px;
        margin-bottom: -145px; } }
    header .header-photo-border .header-photo {
      object-fit: cover;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      margin: auto;
      border: 4px solid #EE6C4D;
      box-shadow: 0 0 0 10px #E0FBFC; }
      @media screen and (min-width: 500px) {
        header .header-photo-border .header-photo {
          box-shadow: 0 0 0 12px #E0FBFC; } }

.content-container {
  width: 100%; }
  .content-container h3 {
    text-align: center;
    color: #293241;
    font-size: 1.5em; }

/*# sourceMappingURL=../maps/style.css.map */
