<footer>
    <div class="social-icons">
        <a href="https://github.com/binary-idiot"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/jonahmiddleton/"><i class="fab fa-linkedin-in"></i></a>
        <a href="mailto:jonah@jonahmiddleton.com"><i class="far fa-envelope"></i></a>
    </div>
    <small class="copywrite">&copy; Copyright <script>document.write(new Date().getFullYear())</script>, Jonah Middleton</small>
</footer>