*{
	font-family: Verdana, Helvetica, sans-serif;
}

html{
	font-size: 4vw;
}

img{
	max-width: 100%;
}

small{
	color: $color-contrast-1;

	@media screen and (min-width: 500px){
		font-size: .5rem;
	}

	@media screen and (min-width: 1050px){
		font-size: .25rem;
	}
}

body{
	background-color: $color-supplement-2;
	margin: 0;
	width: 100%;
}

h1{
	color: $color-supplement-2;
	font-size: 2em;
}