//https://color.adobe.com/create/color-wheel/?base=2&rule=Compound&selected=2&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.10410654827968921,0.4448857994042827,0.8235294117647058,0.14002219755826859,0.17957824639290976,0.22352941176470587,0.1411764705882353,0.6235294117647059,0.6235294117647059,0.6705882352941177,0.3979904273030517,0.31947835738068814,0.8235294117647058,0.16006165988424656,0.10410654827968921&swatchOrder=0,1,2,3,4

$color-primary: #1B71D2;
$color-supplement-1: #242E39;
$color-supplement-2: #249F9F;
$color-contrast-1: #D2291B;
$color-contrast-2: #AB6551;