header{
	background-color: $color-primary;
	width: 100%;

	.header-photo-border{
		width: 150px;
		height: 150px;		
		margin: auto;
		padding-top: 5%;

		.header-photo{
			object-fit: cover;
			border-radius: 50%;
			width: 100%;
			height: 100%;
			margin: auto;
		}
	}
	

}