header{
	width: 100%;

	nav{
		font-size: 2em;
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1;
		width: 85%;
		height: 100%;
		background-color: $color-supplement-1;

		@media screen and (min-width: $media-small){
			padding: 1vw;
			font-size: 1em;
			display: block !important;
			position: static;
			background-color: transparent;
			z-index: auto;
			width: auto;
			height: auto;
		}

		@media screen and (min-width: $media-large){
			font-size: .75em;
		}

		a{
			color: $color-contrast-1;
			text-decoration: none;
			
			margin: 10vw;

			display: block;
			text-align: center;

			@media screen and (min-width: $media-small){
				display: inline;
				margin: 1vw;
			}
			
			&:hover{
				text-decoration: underline;
			}

		}
	}

	.open-nav{
		display: inline;
		padding: 3vh 2vw;
		background-color: $color-contrast-1;
		border: 3px solid $color-contrast-2;
		border-left-style: none;

		@media screen and (min-width: $media-small){
			display: none !important;
		}

		&:hover{
			padding-left: 3.5vw;
		}

		i{
			color: $color-contrast-2;
		}
	}

	.close-nav{
		display: none;
		z-index: 1;
		position: fixed;
		top: 0;
		left: 85%;
		width: 15%;
		height: 100%;
		color: $color-contrast-1;
		background-color: $color-contrast-transparent;
		text-align: center;
		font-size: 2em;

		@media screen and (min-width: $media-small) {
			display: none !important;
		}

		i{
			display: inline-block;
			margin: 15vh 0 auto;
		}
	}

	.title{
		background-color: $color-supplement-1;
		padding: 5vh 8vw 8vh;
		text-align: center;
		
		
		@media screen and (min-width: $media-small){
			text-align: left;
			font-size: .75rem;
			padding: 5vh 8vw;
		}

		@media screen and (min-width: $media-xlarge){
			font-size: .5rem;
		}

		h1{
			color: $color-supplement-2;
		}
	}

	.header-photo-border{
		position: relative;
		top: -38px;
		width: 75px;
		height: 75px;		
		margin: auto;
		margin-bottom: -45px;

		@media screen and (min-width: $media-xsmall){
			top: -50px;
			width: 100px;
			height: 100px;
			margin-bottom: -75px;
		}

		@media screen and (min-width: $media-small){
			margin-bottom: -95px;
			margin-right: 10%;
		}

		@media screen and (min-width: $media-medium){
			width: 150px;
			height: 150px;
			top: -75px;
			margin-bottom: -145px;
		}

		.header-photo{
			object-fit: cover;
			border-radius: 50%;
			width: 100%;
			height: 100%;
			margin: auto;
			border: 4px solid $color-contrast-1;
			box-shadow: 0 0 0 10px $color-supplement-2;

			@media screen and (min-width: $media-small){
				box-shadow: 0 0 0 12px $color-supplement-2;
			}
		}
	}
	

}